# PostgreSQL Configuration
POSTGRES_DB=oficina
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# Keycloak Configuration
KEYCLOAK_URL=http://localhost:8081
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=Fiap
KEYCLOAK_CLIENT_ID=oficina

# Docker/CI
APP_ENVIRONMENT=development
APP_LOG_LEVEL=INFO
COMPOSE_VERSION=2.0